-- MySQL dump 10.13  Distrib 8.0.43, for Win64 (x86_64)
--
-- Host: localhost    Database: quanlymuavu
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `__idx_probe`
--

DROP TABLE IF EXISTS `__idx_probe`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `__idx_probe` (
  `id` int DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `__idx_probe`
--

LOCK TABLES `__idx_probe` WRITE;
/*!40000 ALTER TABLE `__idx_probe` DISABLE KEYS */;
/*!40000 ALTER TABLE `__idx_probe` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alerts`
--

DROP TABLE IF EXISTS `alerts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alerts` (
  `id` int NOT NULL,
  `type` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `severity` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `farm_id` int DEFAULT NULL,
  `season_id` int DEFAULT NULL,
  `plot_id` int DEFAULT NULL,
  `crop_id` int DEFAULT NULL,
  `title` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `message` text COLLATE utf8mb4_unicode_ci,
  `suggested_action_type` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `suggested_action_url` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `recipient_farmer_ids` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `sent_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_alerts_farm` (`farm_id`),
  KEY `fk_alerts_season` (`season_id`),
  KEY `fk_alerts_plot` (`plot_id`),
  KEY `fk_alerts_crop` (`crop_id`),
  CONSTRAINT `fk_alerts_crop` FOREIGN KEY (`crop_id`) REFERENCES `crops` (`crop_id`),
  CONSTRAINT `fk_alerts_farm` FOREIGN KEY (`farm_id`) REFERENCES `farms` (`farm_id`),
  CONSTRAINT `fk_alerts_plot` FOREIGN KEY (`plot_id`) REFERENCES `plots` (`plot_id`),
  CONSTRAINT `fk_alerts_season` FOREIGN KEY (`season_id`) REFERENCES `seasons` (`season_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alerts`
--

LOCK TABLES `alerts` WRITE;
/*!40000 ALTER TABLE `alerts` DISABLE KEYS */;
/*!40000 ALTER TABLE `alerts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_logs`
--

DROP TABLE IF EXISTS `audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_logs` (
  `audit_log_id` bigint NOT NULL,
  `entity_type` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `entity_id` int NOT NULL,
  `operation` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `performed_by` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `performed_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `snapshot_data` text COLLATE utf8mb4_unicode_ci,
  `reason` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ip_address` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`audit_log_id`),
  KEY `idx_audit_logs_entity_lookup` (`entity_type`,`entity_id`),
  KEY `idx_audit_logs_performed_at` (`performed_at`),
  KEY `idx_entity_lookup` (`entity_type`,`entity_id`),
  KEY `idx_performed_at` (`performed_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_logs`
--

LOCK TABLES `audit_logs` WRITE;
/*!40000 ALTER TABLE `audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `crop_nitrogen_references`
--

DROP TABLE IF EXISTS `crop_nitrogen_references`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `crop_nitrogen_references` (
  `id` int NOT NULL,
  `crop_id` int NOT NULL,
  `n_content_kg_per_kg_yield` decimal(12,6) NOT NULL,
  `source_reference` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_crop_n_ref_crop_active` (`crop_id`,`active`),
  CONSTRAINT `fk_crop_n_ref_crop` FOREIGN KEY (`crop_id`) REFERENCES `crops` (`crop_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `crop_nitrogen_references`
--

LOCK TABLES `crop_nitrogen_references` WRITE;
/*!40000 ALTER TABLE `crop_nitrogen_references` DISABLE KEYS */;
INSERT INTO `crop_nitrogen_references` VALUES (1,1,0.013500,'VN-PADDYRICE-N-REF-2024',1,'2025-01-01 01:00:00','2025-01-01 01:00:00'),(2,2,0.018000,'VN-SOYBEAN-N-REF-2024',1,'2025-01-01 01:00:00','2025-01-01 01:00:00'),(3,3,0.028000,'VN-PEANUT-N-REF-2024',1,'2025-01-01 01:00:00','2025-01-01 01:00:00'),(4,4,0.012000,'VN-BLACKBEAN-N-REF-2024',1,'2025-01-01 01:00:00','2025-01-01 01:00:00'),(5,5,0.020000,'VN-CORN-N-REF-2024',1,'2025-01-01 01:00:00','2025-01-01 01:00:00');
/*!40000 ALTER TABLE `crop_nitrogen_references` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `crops`
--

DROP TABLE IF EXISTS `crops`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `crops` (
  `crop_id` int NOT NULL,
  `crop_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`crop_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `crops`
--

LOCK TABLES `crops` WRITE;
/*!40000 ALTER TABLE `crops` DISABLE KEYS */;
INSERT INTO `crops` VALUES (1,'Lúa nước','Cây lương thực chính của Việt Nam'),(2,'Đậu nành','Cây họ đậu giàu đạm, dùng làm thực phẩm và thức ăn chăn nuôi'),(3,'Lạc','Cây họ đậu lấy củ, thích hợp vụ khô'),(4,'Đậu đen','Cây họ đậu ngắn ngày, chịu hạn khá'),(5,'Ngô','Cây lương thực lấy hạt, sinh trưởng mạnh');
/*!40000 ALTER TABLE `crops` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `document_favorites`
--

DROP TABLE IF EXISTS `document_favorites`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `document_favorites` (
  `id` int NOT NULL,
  `user_id` bigint NOT NULL,
  `document_id` int NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_document_favorites` (`user_id`,`document_id`),
  UNIQUE KEY `UKl8kxh3j1u6j40wptinsadi23n` (`user_id`,`document_id`),
  KEY `fk_document_favorites_document` (`document_id`),
  CONSTRAINT `fk_document_favorites_document` FOREIGN KEY (`document_id`) REFERENCES `documents` (`document_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_document_favorites_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `document_favorites`
--

LOCK TABLES `document_favorites` WRITE;
/*!40000 ALTER TABLE `document_favorites` DISABLE KEYS */;
INSERT INTO `document_favorites` VALUES (1,2,1,'2025-01-10 01:00:00'),(2,2,3,'2025-01-15 02:00:00'),(3,2,6,'2025-01-20 03:00:00'),(4,2,2,'2026-03-18 01:40:00'),(5,5,7,'2026-03-18 01:45:00');
/*!40000 ALTER TABLE `document_favorites` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `document_recent_opens`
--

DROP TABLE IF EXISTS `document_recent_opens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `document_recent_opens` (
  `id` int NOT NULL,
  `user_id` bigint NOT NULL,
  `document_id` int NOT NULL,
  `opened_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_document_recent_user` (`user_id`),
  KEY `fk_document_recent_document` (`document_id`),
  CONSTRAINT `fk_document_recent_document` FOREIGN KEY (`document_id`) REFERENCES `documents` (`document_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_document_recent_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `document_recent_opens`
--

LOCK TABLES `document_recent_opens` WRITE;
/*!40000 ALTER TABLE `document_recent_opens` DISABLE KEYS */;
INSERT INTO `document_recent_opens` VALUES (1,2,1,'2025-01-27 01:00:00'),(2,2,6,'2025-01-26 07:00:00'),(3,2,3,'2025-01-25 03:00:00'),(4,2,4,'2025-01-24 09:00:00'),(5,2,2,'2025-01-20 02:00:00'),(6,2,6,'2026-03-18 01:50:00'),(7,5,7,'2026-03-18 01:55:00'),(8,6,5,'2026-03-18 02:00:00');
/*!40000 ALTER TABLE `document_recent_opens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `documents`
--

DROP TABLE IF EXISTS `documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `documents` (
  `document_id` int NOT NULL,
  `title` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `url` varchar(1000) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `crop` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `stage` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `topic` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `is_public` tinyint(1) NOT NULL DEFAULT '1',
  `created_by` bigint DEFAULT NULL,
  `document_type` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `view_count` int NOT NULL DEFAULT '0',
  `is_pinned` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`document_id`),
  KEY `fk_documents_created_by` (`created_by`),
  CONSTRAINT `fk_documents_created_by` FOREIGN KEY (`created_by`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `documents`
--

LOCK TABLES `documents` WRITE;
/*!40000 ALTER TABLE `documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `expenses`
--

DROP TABLE IF EXISTS `expenses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `expenses` (
  `expense_id` int NOT NULL,
  `user_id` bigint NOT NULL,
  `season_id` int NOT NULL,
  `task_id` int DEFAULT NULL,
  `category` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `item_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `unit_price` decimal(38,2) NOT NULL,
  `quantity` int NOT NULL,
  `total_cost` decimal(38,2) DEFAULT NULL,
  `amount` decimal(38,2) DEFAULT NULL,
  `payment_status` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `note` text COLLATE utf8mb4_unicode_ci,
  `expense_date` date NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`expense_id`),
  KEY `fk_expenses_user` (`user_id`),
  KEY `fk_expenses_season` (`season_id`),
  KEY `fk_expenses_task` (`task_id`),
  KEY `idx_expense_category` (`category`),
  KEY `idx_expense_date` (`expense_date`),
  KEY `idx_expense_item_name` (`item_name`),
  CONSTRAINT `fk_expenses_season` FOREIGN KEY (`season_id`) REFERENCES `seasons` (`season_id`),
  CONSTRAINT `fk_expenses_task` FOREIGN KEY (`task_id`) REFERENCES `tasks` (`task_id`),
  CONSTRAINT `fk_expenses_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `expenses`
--

LOCK TABLES `expenses` WRITE;
/*!40000 ALTER TABLE `expenses` DISABLE KEYS */;
/*!40000 ALTER TABLE `expenses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `farms`
--

DROP TABLE IF EXISTS `farms`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `farms` (
  `farm_id` int NOT NULL,
  `user_id` bigint DEFAULT NULL,
  `farm_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `province_id` int NOT NULL,
  `ward_id` int NOT NULL,
  `area` decimal(38,2) DEFAULT NULL,
  `active` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`farm_id`),
  KEY `fk_farms_province` (`province_id`),
  KEY `fk_farms_ward` (`ward_id`),
  KEY `idx_farms_user` (`user_id`),
  CONSTRAINT `fk_farms_province` FOREIGN KEY (`province_id`) REFERENCES `provinces` (`id`),
  CONSTRAINT `fk_farms_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`),
  CONSTRAINT `fk_farms_ward` FOREIGN KEY (`ward_id`) REFERENCES `wards` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `farms`
--

LOCK TABLES `farms` WRITE;
/*!40000 ALTER TABLE `farms` DISABLE KEYS */;
INSERT INTO `farms` VALUES (1,2,'Nông trại Phú Điền',24,25112,15.50,1),(2,2,'Nông trại An Phát',24,25112,10.20,1),(3,2,'Khu thử nghiệm Ngũ Cốc',24,25112,3.00,0),(4,4,'Nông trại Cao Nguyên Xanh',30,30001,12.80,1);
/*!40000 ALTER TABLE `farms` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `field_logs`
--

DROP TABLE IF EXISTS `field_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `field_logs` (
  `field_log_id` int NOT NULL,
  `season_id` int NOT NULL,
  `log_date` date NOT NULL,
  `log_type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `notes` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`field_log_id`),
  KEY `fk_field_logs_season` (`season_id`),
  CONSTRAINT `fk_field_logs_season` FOREIGN KEY (`season_id`) REFERENCES `seasons` (`season_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `field_logs`
--

LOCK TABLES `field_logs` WRITE;
/*!40000 ALTER TABLE `field_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `field_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `harvests`
--

DROP TABLE IF EXISTS `harvests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `harvests` (
  `harvest_id` int NOT NULL,
  `season_id` int NOT NULL,
  `harvest_date` date NOT NULL,
  `quantity` decimal(38,2) NOT NULL,
  `unit` decimal(38,2) NOT NULL,
  `grade` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `note` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`harvest_id`),
  KEY `fk_harvests_season` (`season_id`),
  CONSTRAINT `fk_harvests_season` FOREIGN KEY (`season_id`) REFERENCES `seasons` (`season_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `harvests`
--

LOCK TABLES `harvests` WRITE;
/*!40000 ALTER TABLE `harvests` DISABLE KEYS */;
/*!40000 ALTER TABLE `harvests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `incidents`
--

DROP TABLE IF EXISTS `incidents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `incidents` (
  `id` int NOT NULL,
  `season_id` int NOT NULL,
  `reported_by` bigint DEFAULT NULL,
  `incident_type` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `severity` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `deadline` date DEFAULT NULL,
  `resolved_at` datetime DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_incidents_season` (`season_id`),
  KEY `fk_incidents_reported_by` (`reported_by`),
  CONSTRAINT `fk_incidents_reported_by` FOREIGN KEY (`reported_by`) REFERENCES `users` (`user_id`),
  CONSTRAINT `fk_incidents_season` FOREIGN KEY (`season_id`) REFERENCES `seasons` (`season_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `incidents`
--

LOCK TABLES `incidents` WRITE;
/*!40000 ALTER TABLE `incidents` DISABLE KEYS */;
/*!40000 ALTER TABLE `incidents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `invalidated_token`
--

DROP TABLE IF EXISTS `invalidated_token`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `invalidated_token` (
  `id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiry_time` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `invalidated_token`
--

LOCK TABLES `invalidated_token` WRITE;
/*!40000 ALTER TABLE `invalidated_token` DISABLE KEYS */;
INSERT INTO `invalidated_token` VALUES ('38cc9785-bfa1-4405-8234-3da6fcee9af0','2026-04-24 11:42:56.000000');
/*!40000 ALTER TABLE `invalidated_token` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventory_balances`
--

DROP TABLE IF EXISTS `inventory_balances`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inventory_balances` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `supply_lot_id` int NOT NULL,
  `warehouse_id` int NOT NULL,
  `location_id` int DEFAULT NULL,
  `quantity` decimal(10,2) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_inventory_balance` (`supply_lot_id`,`warehouse_id`,`location_id`),
  UNIQUE KEY `UK2dqhswbpt9n6gvw3q5jwrg6ci` (`supply_lot_id`,`warehouse_id`,`location_id`),
  KEY `fk_inventory_balances_warehouse` (`warehouse_id`),
  KEY `fk_inventory_balances_location` (`location_id`),
  CONSTRAINT `fk_inventory_balances_location` FOREIGN KEY (`location_id`) REFERENCES `stock_locations` (`id`),
  CONSTRAINT `fk_inventory_balances_lot` FOREIGN KEY (`supply_lot_id`) REFERENCES `supply_lots` (`id`),
  CONSTRAINT `fk_inventory_balances_warehouse` FOREIGN KEY (`warehouse_id`) REFERENCES `warehouses` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventory_balances`
--

LOCK TABLES `inventory_balances` WRITE;
/*!40000 ALTER TABLE `inventory_balances` DISABLE KEYS */;
INSERT INTO `inventory_balances` VALUES (1,1,1,1,145.00),(2,2,1,2,40.00),(3,3,1,3,440.00),(4,6,3,4,150.00);
/*!40000 ALTER TABLE `inventory_balances` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `irrigation_water_analyses`
--

DROP TABLE IF EXISTS `irrigation_water_analyses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `irrigation_water_analyses` (
  `id` int NOT NULL,
  `season_id` int NOT NULL,
  `plot_id` int NOT NULL,
  `sample_date` date NOT NULL,
  `nitrate_mg_per_l` decimal(19,4) DEFAULT NULL,
  `ammonium_mg_per_l` decimal(19,4) DEFAULT NULL,
  `total_n_mg_per_l` decimal(19,4) DEFAULT NULL,
  `irrigation_volume_m3` decimal(19,4) NOT NULL,
  `legacy_n_contribution_kg` decimal(19,4) DEFAULT NULL,
  `legacy_event_id` int DEFAULT NULL,
  `legacy_derived` tinyint(1) NOT NULL DEFAULT '0',
  `measured` tinyint(1) NOT NULL DEFAULT '1',
  `source_type` varchar(40) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `source_document` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `lab_reference` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `note` text COLLATE utf8mb4_unicode_ci,
  `created_by_user_id` bigint DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_irrigation_analysis_plot` (`plot_id`),
  KEY `fk_irrigation_analysis_user` (`created_by_user_id`),
  KEY `idx_irrigation_analysis_season_plot` (`season_id`,`plot_id`),
  CONSTRAINT `fk_irrigation_analysis_plot` FOREIGN KEY (`plot_id`) REFERENCES `plots` (`plot_id`),
  CONSTRAINT `fk_irrigation_analysis_season` FOREIGN KEY (`season_id`) REFERENCES `seasons` (`season_id`),
  CONSTRAINT `fk_irrigation_analysis_user` FOREIGN KEY (`created_by_user_id`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `irrigation_water_analyses`
--

LOCK TABLES `irrigation_water_analyses` WRITE;
/*!40000 ALTER TABLE `irrigation_water_analyses` DISABLE KEYS */;
/*!40000 ALTER TABLE `irrigation_water_analyses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `marketplace_addresses`
--

DROP TABLE IF EXISTS `marketplace_addresses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `marketplace_addresses` (
  `id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  `full_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `phone` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `province` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `district` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `ward` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `street` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `detail` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `label` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'home',
  `is_default` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_marketplace_addresses_user` (`user_id`),
  CONSTRAINT `fk_marketplace_addresses_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `marketplace_addresses`
--

LOCK TABLES `marketplace_addresses` WRITE;
/*!40000 ALTER TABLE `marketplace_addresses` DISABLE KEYS */;
INSERT INTO `marketplace_addresses` VALUES (1,3,'Tran Thi Buyer','0903234000','Đồng Tháp','Cao Lãnh','Mỹ An','123 Đường Demo','Căn góc, gần trường học','home',1,'2026-04-18 01:00:00','2026-04-18 01:00:00'),(2,3,'Tran Thi Buyer','0903234000','Hồ Chí Minh','Quận 7','Tân Phú','88 Đường Thử Nghiệm','Tòa nhà văn phòng','office',0,'2026-04-18 01:05:00','2026-04-18 01:05:00');
/*!40000 ALTER TABLE `marketplace_addresses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `marketplace_cart_items`
--

DROP TABLE IF EXISTS `marketplace_cart_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `marketplace_cart_items` (
  `id` bigint NOT NULL,
  `cart_id` bigint NOT NULL,
  `product_id` bigint NOT NULL,
  `quantity` decimal(19,3) NOT NULL,
  `unit_price_snapshot` decimal(19,2) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_marketplace_cart_items_cart_product` (`cart_id`,`product_id`),
  KEY `idx_marketplace_cart_items_product` (`product_id`),
  CONSTRAINT `fk_marketplace_cart_items_cart` FOREIGN KEY (`cart_id`) REFERENCES `marketplace_carts` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_marketplace_cart_items_product` FOREIGN KEY (`product_id`) REFERENCES `marketplace_products` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `marketplace_cart_items`
--

LOCK TABLES `marketplace_cart_items` WRITE;
/*!40000 ALTER TABLE `marketplace_cart_items` DISABLE KEYS */;
INSERT INTO `marketplace_cart_items` VALUES (1,1,2,0.750,125000.00,'2026-04-22 08:30:00','2026-04-22 08:30:00'),(2,1,6,1.500,170000.00,'2026-04-22 09:00:00','2026-04-22 09:00:00');
/*!40000 ALTER TABLE `marketplace_cart_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `marketplace_carts`
--

DROP TABLE IF EXISTS `marketplace_carts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `marketplace_carts` (
  `id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_marketplace_carts_user` (`user_id`),
  CONSTRAINT `fk_marketplace_carts_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `marketplace_carts`
--

LOCK TABLES `marketplace_carts` WRITE;
/*!40000 ALTER TABLE `marketplace_carts` DISABLE KEYS */;
INSERT INTO `marketplace_carts` VALUES (1,3,'2026-04-20 03:00:00','2026-04-22 09:00:00');
/*!40000 ALTER TABLE `marketplace_carts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `marketplace_order_groups`
--

DROP TABLE IF EXISTS `marketplace_order_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `marketplace_order_groups` (
  `id` bigint NOT NULL,
  `group_code` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `buyer_user_id` bigint NOT NULL,
  `idempotency_key` varchar(128) COLLATE utf8mb4_unicode_ci NOT NULL,
  `request_fingerprint` varchar(128) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_marketplace_order_groups_group_code` (`group_code`),
  UNIQUE KEY `uk_marketplace_order_groups_idempotency` (`buyer_user_id`,`idempotency_key`),
  CONSTRAINT `fk_marketplace_order_groups_buyer_user` FOREIGN KEY (`buyer_user_id`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `marketplace_order_groups`
--

LOCK TABLES `marketplace_order_groups` WRITE;
/*!40000 ALTER TABLE `marketplace_order_groups` DISABLE KEYS */;
INSERT INTO `marketplace_order_groups` VALUES (1,'MOG-2026-0001',3,'demo-split-order-20260420','fp-split-order-20260420','2026-04-20 02:00:00'),(2,'MOG-2026-0002',3,'demo-bank-transfer-20260422','fp-bank-transfer-20260422','2026-04-22 04:00:00');
/*!40000 ALTER TABLE `marketplace_order_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `marketplace_order_items`
--

DROP TABLE IF EXISTS `marketplace_order_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `marketplace_order_items` (
  `id` bigint NOT NULL,
  `order_id` bigint NOT NULL,
  `product_id` bigint NOT NULL,
  `product_name_snapshot` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `product_slug_snapshot` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `image_url_snapshot` varchar(1024) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `unit_price_snapshot` decimal(19,2) NOT NULL,
  `quantity` decimal(19,3) NOT NULL,
  `line_total` decimal(19,2) NOT NULL,
  `traceable_snapshot` tinyint(1) NOT NULL DEFAULT '0',
  `farm_id` int DEFAULT NULL,
  `season_id` int DEFAULT NULL,
  `lot_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_marketplace_order_items_farm` (`farm_id`),
  KEY `fk_marketplace_order_items_season` (`season_id`),
  KEY `fk_marketplace_order_items_lot` (`lot_id`),
  KEY `idx_marketplace_order_items_order` (`order_id`),
  KEY `idx_marketplace_order_items_product` (`product_id`),
  CONSTRAINT `fk_marketplace_order_items_farm` FOREIGN KEY (`farm_id`) REFERENCES `farms` (`farm_id`),
  CONSTRAINT `fk_marketplace_order_items_lot` FOREIGN KEY (`lot_id`) REFERENCES `product_warehouse_lots` (`id`),
  CONSTRAINT `fk_marketplace_order_items_order` FOREIGN KEY (`order_id`) REFERENCES `marketplace_orders` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_marketplace_order_items_product` FOREIGN KEY (`product_id`) REFERENCES `marketplace_products` (`id`),
  CONSTRAINT `fk_marketplace_order_items_season` FOREIGN KEY (`season_id`) REFERENCES `seasons` (`season_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `marketplace_order_items`
--

LOCK TABLES `marketplace_order_items` WRITE;
/*!40000 ALTER TABLE `marketplace_order_items` DISABLE KEYS */;
INSERT INTO `marketplace_order_items` VALUES (1,1,5,'Đậu nành AGS398 sấy khô 2026','dau-nanh-ags398-say-kho-2026','https://images.example.com/marketplace/soybean-2026-cover.jpg',145000.00,2.000,290000.00,1,1,11,5),(2,2,6,'Ngô ngọt Cao Nguyên Xanh','ngo-ngot-cao-nguyen-xanh','https://images.example.com/marketplace/corn-highland-cover.jpg',170000.00,1.250,212500.00,1,4,14,6),(3,3,2,'Gạo OM5451 chọn lọc','gao-om5451-chon-loc','https://images.example.com/marketplace/rice-om5451-cover.jpg',125000.00,3.500,437500.00,1,1,4,2);
/*!40000 ALTER TABLE `marketplace_order_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `marketplace_orders`
--

DROP TABLE IF EXISTS `marketplace_orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `marketplace_orders` (
  `id` bigint NOT NULL,
  `order_group_id` bigint NOT NULL,
  `order_code` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `buyer_user_id` bigint NOT NULL,
  `farmer_user_id` bigint NOT NULL,
  `status` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `payment_method` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL,
  `payment_verification_status` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'NOT_REQUIRED',
  `payment_proof_file_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `payment_proof_content_type` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `payment_proof_storage_path` varchar(1000) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `payment_proof_uploaded_at` timestamp NULL DEFAULT NULL,
  `payment_verified_at` timestamp NULL DEFAULT NULL,
  `payment_verified_by_user_id` bigint DEFAULT NULL,
  `payment_verification_note` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `shipping_recipient_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `shipping_phone` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `shipping_address_line` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `note` text COLLATE utf8mb4_unicode_ci,
  `subtotal` decimal(19,2) NOT NULL,
  `shipping_fee` decimal(19,2) NOT NULL,
  `total_amount` decimal(19,2) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_marketplace_orders_order_code` (`order_code`),
  KEY `fk_marketplace_orders_order_group` (`order_group_id`),
  KEY `idx_marketplace_orders_buyer_user` (`buyer_user_id`),
  KEY `idx_marketplace_orders_farmer_user` (`farmer_user_id`),
  KEY `idx_marketplace_orders_status` (`status`),
  KEY `idx_marketplace_orders_payment_verification_status` (`payment_verification_status`),
  CONSTRAINT `fk_marketplace_orders_buyer_user` FOREIGN KEY (`buyer_user_id`) REFERENCES `users` (`user_id`),
  CONSTRAINT `fk_marketplace_orders_farmer_user` FOREIGN KEY (`farmer_user_id`) REFERENCES `users` (`user_id`),
  CONSTRAINT `fk_marketplace_orders_order_group` FOREIGN KEY (`order_group_id`) REFERENCES `marketplace_order_groups` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `marketplace_orders`
--

LOCK TABLES `marketplace_orders` WRITE;
/*!40000 ALTER TABLE `marketplace_orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `marketplace_orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `marketplace_product_reviews`
--

DROP TABLE IF EXISTS `marketplace_product_reviews`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `marketplace_product_reviews` (
  `id` bigint NOT NULL,
  `product_id` bigint NOT NULL,
  `order_id` bigint NOT NULL,
  `buyer_user_id` bigint NOT NULL,
  `rating` int NOT NULL,
  `comment` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_marketplace_reviews_product_order_buyer` (`product_id`,`order_id`,`buyer_user_id`),
  KEY `fk_marketplace_reviews_buyer_user` (`buyer_user_id`),
  KEY `idx_marketplace_reviews_product` (`product_id`),
  KEY `idx_marketplace_reviews_order` (`order_id`),
  CONSTRAINT `fk_marketplace_reviews_buyer_user` FOREIGN KEY (`buyer_user_id`) REFERENCES `users` (`user_id`),
  CONSTRAINT `fk_marketplace_reviews_order` FOREIGN KEY (`order_id`) REFERENCES `marketplace_orders` (`id`),
  CONSTRAINT `fk_marketplace_reviews_product` FOREIGN KEY (`product_id`) REFERENCES `marketplace_products` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `marketplace_product_reviews`
--

LOCK TABLES `marketplace_product_reviews` WRITE;
/*!40000 ALTER TABLE `marketplace_product_reviews` DISABLE KEYS */;
INSERT INTO `marketplace_product_reviews` VALUES (1,5,1,3,5,'Chất lượng đậu nành rất tốt, đóng gói gọn và giao đúng hẹn.','2026-04-21 11:00:00');
/*!40000 ALTER TABLE `marketplace_product_reviews` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `marketplace_products`
--

DROP TABLE IF EXISTS `marketplace_products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `marketplace_products` (
  `id` bigint NOT NULL,
  `version` bigint NOT NULL DEFAULT '0',
  `slug` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `category` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `short_description` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `price` decimal(19,2) NOT NULL,
  `unit` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `stock_quantity` decimal(19,3) NOT NULL,
  `image_url` varchar(1024) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `image_urls_json` text COLLATE utf8mb4_unicode_ci,
  `farmer_user_id` bigint NOT NULL,
  `farm_id` int DEFAULT NULL,
  `season_id` int DEFAULT NULL,
  `lot_id` int NOT NULL,
  `traceable` tinyint(1) NOT NULL DEFAULT '0',
  `status` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'DRAFT',
  `published_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_marketplace_products_slug` (`slug`),
  UNIQUE KEY `uk_marketplace_products_lot` (`lot_id`),
  KEY `fk_marketplace_products_season` (`season_id`),
  KEY `idx_marketplace_products_status` (`status`),
  KEY `idx_marketplace_products_category` (`category`),
  KEY `idx_marketplace_products_traceable` (`traceable`),
  KEY `idx_marketplace_products_farmer_user` (`farmer_user_id`),
  KEY `idx_marketplace_products_farm` (`farm_id`),
  KEY `idx_marketplace_products_stock_quantity` (`stock_quantity`),
  CONSTRAINT `fk_marketplace_products_farm` FOREIGN KEY (`farm_id`) REFERENCES `farms` (`farm_id`),
  CONSTRAINT `fk_marketplace_products_farmer_user` FOREIGN KEY (`farmer_user_id`) REFERENCES `users` (`user_id`),
  CONSTRAINT `fk_marketplace_products_lot` FOREIGN KEY (`lot_id`) REFERENCES `product_warehouse_lots` (`id`),
  CONSTRAINT `fk_marketplace_products_season` FOREIGN KEY (`season_id`) REFERENCES `seasons` (`season_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `marketplace_products`
--

LOCK TABLES `marketplace_products` WRITE;
/*!40000 ALTER TABLE `marketplace_products` DISABLE KEYS */;
/*!40000 ALTER TABLE `marketplace_products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `id` int NOT NULL,
  `user_id` bigint NOT NULL,
  `title` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `message` text COLLATE utf8mb4_unicode_ci,
  `link` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `alert_id` int DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `read_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_notifications_alert` (`alert_id`),
  KEY `idx_notifications_user_created` (`user_id`,`created_at`),
  CONSTRAINT `fk_notifications_alert` FOREIGN KEY (`alert_id`) REFERENCES `alerts` (`id`),
  CONSTRAINT `fk_notifications_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nutrient_input_events`
--

DROP TABLE IF EXISTS `nutrient_input_events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nutrient_input_events` (
  `id` int NOT NULL,
  `season_id` int NOT NULL,
  `plot_id` int NOT NULL,
  `input_source` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL,
  `n_kg` decimal(19,4) NOT NULL,
  `applied_date` date DEFAULT NULL,
  `measured` tinyint(1) NOT NULL DEFAULT '1',
  `data_source` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `note` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `source_type` varchar(40) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `source_document` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_by_user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_nutrient_input_event_plot` (`plot_id`),
  KEY `idx_nutrient_input_events_season_plot` (`season_id`,`plot_id`),
  KEY `idx_nutrient_input_events_created_by_user` (`created_by_user_id`),
  CONSTRAINT `fk_nutrient_input_event_plot` FOREIGN KEY (`plot_id`) REFERENCES `plots` (`plot_id`),
  CONSTRAINT `fk_nutrient_input_event_season` FOREIGN KEY (`season_id`) REFERENCES `seasons` (`season_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nutrient_input_events`
--

LOCK TABLES `nutrient_input_events` WRITE;
/*!40000 ALTER TABLE `nutrient_input_events` DISABLE KEYS */;
/*!40000 ALTER TABLE `nutrient_input_events` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_reset_tokens` (
  `id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  `token_hash` varchar(128) COLLATE utf8mb4_unicode_ci NOT NULL,
  `expires_at` datetime NOT NULL,
  `used_at` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `request_ip` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_agent` varchar(512) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_password_reset_token_hash` (`token_hash`),
  KEY `idx_password_reset_token_hash` (`token_hash`),
  KEY `idx_password_reset_user` (`user_id`),
  CONSTRAINT `fk_password_reset_tokens_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payroll_records`
--

DROP TABLE IF EXISTS `payroll_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payroll_records` (
  `id` int NOT NULL,
  `employee_user_id` bigint NOT NULL,
  `season_id` int DEFAULT NULL,
  `period_start` date NOT NULL,
  `period_end` date NOT NULL,
  `total_assigned_tasks` int NOT NULL DEFAULT '0',
  `total_completed_tasks` int NOT NULL DEFAULT '0',
  `wage_per_task` decimal(15,2) NOT NULL DEFAULT '0.00',
  `total_amount` decimal(15,2) NOT NULL DEFAULT '0.00',
  `generated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `note` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_payroll_employee_season_period` (`employee_user_id`,`season_id`,`period_start`,`period_end`),
  KEY `idx_payroll_employee` (`employee_user_id`),
  KEY `idx_payroll_season` (`season_id`),
  KEY `idx_payroll_period` (`period_start`,`period_end`),
  CONSTRAINT `fk_payroll_employee` FOREIGN KEY (`employee_user_id`) REFERENCES `users` (`user_id`),
  CONSTRAINT `fk_payroll_season` FOREIGN KEY (`season_id`) REFERENCES `seasons` (`season_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payroll_records`
--

LOCK TABLES `payroll_records` WRITE;
/*!40000 ALTER TABLE `payroll_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `payroll_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `plots`
--

DROP TABLE IF EXISTS `plots`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `plots` (
  `plot_id` int NOT NULL,
  `farm_id` int NOT NULL,
  `plot_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `area` decimal(38,2) DEFAULT NULL,
  `soil_type` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'IN_USE',
  `boundary_geojson` longtext COLLATE utf8mb4_unicode_ci,
  `created_by` bigint DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`plot_id`),
  KEY `fk_plots_created_by` (`created_by`),
  KEY `idx_plots_farm` (`farm_id`),
  KEY `idx_plots_status` (`status`),
  CONSTRAINT `fk_plots_created_by` FOREIGN KEY (`created_by`) REFERENCES `users` (`user_id`),
  CONSTRAINT `fk_plots_farm` FOREIGN KEY (`farm_id`) REFERENCES `farms` (`farm_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `plots`
--

LOCK TABLES `plots` WRITE;
/*!40000 ALTER TABLE `plots` DISABLE KEYS */;
/*!40000 ALTER TABLE `plots` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_warehouse_lots`
--

DROP TABLE IF EXISTS `product_warehouse_lots`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product_warehouse_lots` (
  `id` int NOT NULL,
  `lot_code` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `product_id` int DEFAULT NULL,
  `product_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `product_variant` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `season_id` int DEFAULT NULL,
  `farm_id` int NOT NULL,
  `plot_id` int NOT NULL,
  `harvest_id` int DEFAULT NULL,
  `warehouse_id` int NOT NULL,
  `location_id` int DEFAULT NULL,
  `harvested_at` date NOT NULL,
  `received_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `unit` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `initial_quantity` decimal(19,3) NOT NULL,
  `on_hand_quantity` decimal(19,3) NOT NULL,
  `grade` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `quality_status` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `traceability_data` text COLLATE utf8mb4_unicode_ci,
  `note` text COLLATE utf8mb4_unicode_ci,
  `status` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'IN_STOCK',
  `created_by` bigint DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_product_warehouse_lot_code` (`lot_code`),
  UNIQUE KEY `uk_product_warehouse_harvest` (`harvest_id`),
  KEY `fk_product_warehouse_lot_plot` (`plot_id`),
  KEY `fk_product_warehouse_lot_warehouse` (`warehouse_id`),
  KEY `fk_product_warehouse_lot_location` (`location_id`),
  KEY `fk_product_warehouse_lot_created_by` (`created_by`),
  KEY `idx_product_warehouse_lot_farm` (`farm_id`),
  KEY `idx_product_warehouse_lot_season` (`season_id`),
  KEY `idx_product_warehouse_lot_status` (`status`),
  CONSTRAINT `fk_product_warehouse_lot_created_by` FOREIGN KEY (`created_by`) REFERENCES `users` (`user_id`),
  CONSTRAINT `fk_product_warehouse_lot_farm` FOREIGN KEY (`farm_id`) REFERENCES `farms` (`farm_id`),
  CONSTRAINT `fk_product_warehouse_lot_harvest` FOREIGN KEY (`harvest_id`) REFERENCES `harvests` (`harvest_id`),
  CONSTRAINT `fk_product_warehouse_lot_location` FOREIGN KEY (`location_id`) REFERENCES `stock_locations` (`id`),
  CONSTRAINT `fk_product_warehouse_lot_plot` FOREIGN KEY (`plot_id`) REFERENCES `plots` (`plot_id`),
  CONSTRAINT `fk_product_warehouse_lot_season` FOREIGN KEY (`season_id`) REFERENCES `seasons` (`season_id`),
  CONSTRAINT `fk_product_warehouse_lot_warehouse` FOREIGN KEY (`warehouse_id`) REFERENCES `warehouses` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_warehouse_lots`
--

LOCK TABLES `product_warehouse_lots` WRITE;
/*!40000 ALTER TABLE `product_warehouse_lots` DISABLE KEYS */;
/*!40000 ALTER TABLE `product_warehouse_lots` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_warehouse_transactions`
--

DROP TABLE IF EXISTS `product_warehouse_transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product_warehouse_transactions` (
  `id` int NOT NULL,
  `lot_id` int NOT NULL,
  `transaction_type` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL,
  `quantity` decimal(19,3) NOT NULL,
  `unit` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `resulting_on_hand` decimal(19,3) NOT NULL,
  `reference_type` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `reference_id` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `note` text COLLATE utf8mb4_unicode_ci,
  `created_by` bigint DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_product_warehouse_tx_created_by` (`created_by`),
  KEY `idx_product_warehouse_tx_lot` (`lot_id`),
  CONSTRAINT `fk_product_warehouse_tx_created_by` FOREIGN KEY (`created_by`) REFERENCES `users` (`user_id`),
  CONSTRAINT `fk_product_warehouse_tx_lot` FOREIGN KEY (`lot_id`) REFERENCES `product_warehouse_lots` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_warehouse_transactions`
--

LOCK TABLES `product_warehouse_transactions` WRITE;
/*!40000 ALTER TABLE `product_warehouse_transactions` DISABLE KEYS */;
/*!40000 ALTER TABLE `product_warehouse_transactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `provinces`
--

DROP TABLE IF EXISTS `provinces`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `provinces` (
  `id` int NOT NULL,
  `name` varchar(128) COLLATE utf8mb4_unicode_ci NOT NULL,
  `slug` varchar(128) COLLATE utf8mb4_unicode_ci NOT NULL,
  `type` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name_with_type` varchar(256) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `provinces`
--

LOCK TABLES `provinces` WRITE;
/*!40000 ALTER TABLE `provinces` DISABLE KEYS */;
INSERT INTO `provinces` VALUES (24,'Đồng Tháp','dong-thap','tinh','Tỉnh Đồng Tháp'),(30,'Lâm Đồng','lam-dong','tinh','Tỉnh Lâm Đồng');
/*!40000 ALTER TABLE `provinces` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `role_id` bigint NOT NULL AUTO_INCREMENT,
  `role_code` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `role_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `description` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`role_id`),
  UNIQUE KEY `uk_roles_code` (`role_code`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'ADMIN','Admin','Administrator user with full access'),(2,'FARMER','Farmer','Farmer user'),(3,'BUYER','Buyer','Marketplace buyer user'),(4,'EMPLOYEE','Employee','Employee user');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `season_employees`
--

DROP TABLE IF EXISTS `season_employees`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `season_employees` (
  `id` int NOT NULL,
  `season_id` int NOT NULL,
  `employee_user_id` bigint NOT NULL,
  `added_by_user_id` bigint DEFAULT NULL,
  `wage_per_task` decimal(15,2) DEFAULT NULL,
  `active` bit(1) NOT NULL DEFAULT b'1',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_season_employee` (`season_id`,`employee_user_id`),
  KEY `fk_season_employee_added_by` (`added_by_user_id`),
  KEY `idx_season_employee_season` (`season_id`),
  KEY `idx_season_employee_user` (`employee_user_id`),
  CONSTRAINT `fk_season_employee_added_by` FOREIGN KEY (`added_by_user_id`) REFERENCES `users` (`user_id`),
  CONSTRAINT `fk_season_employee_season` FOREIGN KEY (`season_id`) REFERENCES `seasons` (`season_id`),
  CONSTRAINT `fk_season_employee_user` FOREIGN KEY (`employee_user_id`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `season_employees`
--

LOCK TABLES `season_employees` WRITE;
/*!40000 ALTER TABLE `season_employees` DISABLE KEYS */;
INSERT INTO `season_employees` VALUES (1,3,2,1,180000.00,_binary '','2025-01-05 02:00:00'),(2,4,2,1,220000.00,_binary '','2024-12-25 02:00:00'),(3,5,2,1,140000.00,_binary '','2025-01-10 02:00:00'),(4,11,5,2,210000.00,_binary '','2026-02-20 02:00:00'),(5,11,6,2,195000.00,_binary '','2026-02-20 02:05:00'),(6,12,5,2,230000.00,_binary '','2026-03-18 02:30:00'),(7,12,6,2,180000.00,_binary '\0','2026-03-18 02:35:00');
/*!40000 ALTER TABLE `season_employees` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `seasons`
--

DROP TABLE IF EXISTS `seasons`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `seasons` (
  `season_id` int NOT NULL,
  `season_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `plot_id` int NOT NULL,
  `crop_id` int NOT NULL,
  `variety_id` int DEFAULT NULL,
  `start_date` date NOT NULL,
  `planned_harvest_date` date DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  `status` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `initial_plant_count` int NOT NULL,
  `current_plant_count` int DEFAULT NULL,
  `expected_yield_kg` decimal(38,2) DEFAULT NULL,
  `actual_yield_kg` decimal(38,2) DEFAULT NULL,
  `budget_amount` decimal(38,2) DEFAULT NULL,
  `notes` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`season_id`),
  KEY `fk_seasons_crop` (`crop_id`),
  KEY `fk_seasons_variety` (`variety_id`),
  KEY `idx_season_plot_name` (`plot_id`,`season_name`),
  KEY `idx_season_status` (`status`),
  CONSTRAINT `fk_seasons_crop` FOREIGN KEY (`crop_id`) REFERENCES `crops` (`crop_id`),
  CONSTRAINT `fk_seasons_plot` FOREIGN KEY (`plot_id`) REFERENCES `plots` (`plot_id`),
  CONSTRAINT `fk_seasons_variety` FOREIGN KEY (`variety_id`) REFERENCES `varieties` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `seasons`
--

LOCK TABLES `seasons` WRITE;
/*!40000 ALTER TABLE `seasons` DISABLE KEYS */;
/*!40000 ALTER TABLE `seasons` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `soil_tests`
--

DROP TABLE IF EXISTS `soil_tests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `soil_tests` (
  `id` int NOT NULL,
  `season_id` int NOT NULL,
  `plot_id` int NOT NULL,
  `sample_date` date NOT NULL,
  `soil_organic_matter_pct` decimal(12,4) DEFAULT NULL,
  `mineral_n_kg_per_ha` decimal(19,4) NOT NULL,
  `nitrate_mg_per_kg` decimal(19,4) DEFAULT NULL,
  `ammonium_mg_per_kg` decimal(19,4) DEFAULT NULL,
  `legacy_n_contribution_kg` decimal(19,4) DEFAULT NULL,
  `legacy_event_id` int DEFAULT NULL,
  `legacy_derived` tinyint(1) NOT NULL DEFAULT '0',
  `measured` tinyint(1) NOT NULL DEFAULT '1',
  `source_type` varchar(40) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `source_document` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `lab_reference` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `note` text COLLATE utf8mb4_unicode_ci,
  `created_by_user_id` bigint DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_soil_test_plot` (`plot_id`),
  KEY `fk_soil_test_user` (`created_by_user_id`),
  KEY `idx_soil_test_season_plot` (`season_id`,`plot_id`),
  CONSTRAINT `fk_soil_test_plot` FOREIGN KEY (`plot_id`) REFERENCES `plots` (`plot_id`),
  CONSTRAINT `fk_soil_test_season` FOREIGN KEY (`season_id`) REFERENCES `seasons` (`season_id`),
  CONSTRAINT `fk_soil_test_user` FOREIGN KEY (`created_by_user_id`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `soil_tests`
--

LOCK TABLES `soil_tests` WRITE;
/*!40000 ALTER TABLE `soil_tests` DISABLE KEYS */;
/*!40000 ALTER TABLE `soil_tests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stock_locations`
--

DROP TABLE IF EXISTS `stock_locations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stock_locations` (
  `id` int NOT NULL,
  `warehouse_id` int NOT NULL,
  `zone` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `aisle` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `shelf` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `bin` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_stock_locations_warehouse` (`warehouse_id`),
  CONSTRAINT `fk_stock_locations_warehouse` FOREIGN KEY (`warehouse_id`) REFERENCES `warehouses` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stock_locations`
--

LOCK TABLES `stock_locations` WRITE;
/*!40000 ALTER TABLE `stock_locations` DISABLE KEYS */;
INSERT INTO `stock_locations` VALUES (1,1,'Khu A','Hàng 1','Kệ 1','Ô 1'),(2,1,'Khu A','Hàng 1','Kệ 2','Ô 1'),(3,1,'Khu B','Hàng 1','Kệ 1','Ô 1'),(4,3,'Khu chính','Hàng 1','Kệ 1','Ô 1'),(5,4,'Khu C','Hàng 1','Kệ 1','Ô 1');
/*!40000 ALTER TABLE `stock_locations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stock_movements`
--

DROP TABLE IF EXISTS `stock_movements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stock_movements` (
  `id` int NOT NULL,
  `supply_lot_id` int NOT NULL,
  `warehouse_id` int NOT NULL,
  `location_id` int DEFAULT NULL,
  `movement_type` enum('ADJUST','IN','OUT') COLLATE utf8mb4_unicode_ci NOT NULL,
  `quantity` decimal(14,3) NOT NULL,
  `movement_date` datetime NOT NULL,
  `season_id` int DEFAULT NULL,
  `task_id` int DEFAULT NULL,
  `note` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`),
  KEY `fk_stock_movements_warehouse` (`warehouse_id`),
  KEY `fk_stock_movements_location` (`location_id`),
  KEY `fk_stock_movements_season` (`season_id`),
  KEY `fk_stock_movements_task` (`task_id`),
  KEY `idx_stock_movements_lot_date` (`supply_lot_id`,`movement_date`),
  CONSTRAINT `fk_stock_movements_location` FOREIGN KEY (`location_id`) REFERENCES `stock_locations` (`id`),
  CONSTRAINT `fk_stock_movements_lot` FOREIGN KEY (`supply_lot_id`) REFERENCES `supply_lots` (`id`),
  CONSTRAINT `fk_stock_movements_season` FOREIGN KEY (`season_id`) REFERENCES `seasons` (`season_id`),
  CONSTRAINT `fk_stock_movements_task` FOREIGN KEY (`task_id`) REFERENCES `tasks` (`task_id`),
  CONSTRAINT `fk_stock_movements_warehouse` FOREIGN KEY (`warehouse_id`) REFERENCES `warehouses` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stock_movements`
--

LOCK TABLES `stock_movements` WRITE;
/*!40000 ALTER TABLE `stock_movements` DISABLE KEYS */;
/*!40000 ALTER TABLE `stock_movements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `suppliers`
--

DROP TABLE IF EXISTS `suppliers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `suppliers` (
  `id` int NOT NULL,
  `name` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `license_no` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `contact_email` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `contact_phone` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `suppliers`
--

LOCK TABLES `suppliers` WRITE;
/*!40000 ALTER TABLE `suppliers` DISABLE KEYS */;
INSERT INTO `suppliers` VALUES (1,'Công ty TNHH Vật tư Nông nghiệp Xanh','BN-2024-001','vattuxanh@gmail.com','0274-3855666'),(2,'Đại lý Phân bón Miền Nam','BN-2024-002','phanbonmn@gmail.com','0283-9876543'),(3,'HTX Giống cây trồng Đà Lạt','LD-2024-001','giongdalat@gmail.com','0263-3512345');
/*!40000 ALTER TABLE `suppliers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `supply_items`
--

DROP TABLE IF EXISTS `supply_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `supply_items` (
  `id` int NOT NULL,
  `name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `active_ingredient` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `unit` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `restricted_flag` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `supply_items`
--

LOCK TABLES `supply_items` WRITE;
/*!40000 ALTER TABLE `supply_items` DISABLE KEYS */;
INSERT INTO `supply_items` VALUES (1,'Phân NPK 16-16-8','N-P-K 16-16-8','kg',0),(2,'Thuốc trừ sâu sinh học B1','Bacillus thuringiensis','lít',1),(3,'Phân Urê','N 46%','kg',0),(4,'Phân DAP','N-P 18-46','kg',0),(5,'Thuốc trừ cỏ','Glyphosate','lít',1),(6,'Phân Kali clorua','K2O 60%','kg',0);
/*!40000 ALTER TABLE `supply_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `supply_lots`
--

DROP TABLE IF EXISTS `supply_lots`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `supply_lots` (
  `id` int NOT NULL,
  `supply_item_id` int NOT NULL,
  `supplier_id` int DEFAULT NULL,
  `batch_code` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiry_date` date DEFAULT NULL,
  `status` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_supply_lots_batch` (`batch_code`),
  KEY `fk_supply_lots_item` (`supply_item_id`),
  KEY `fk_supply_lots_supplier` (`supplier_id`),
  CONSTRAINT `fk_supply_lots_item` FOREIGN KEY (`supply_item_id`) REFERENCES `supply_items` (`id`),
  CONSTRAINT `fk_supply_lots_supplier` FOREIGN KEY (`supplier_id`) REFERENCES `suppliers` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `supply_lots`
--

LOCK TABLES `supply_lots` WRITE;
/*!40000 ALTER TABLE `supply_lots` DISABLE KEYS */;
INSERT INTO `supply_lots` VALUES (1,1,1,'NPK-2025-001','2027-06-30','IN_STOCK'),(2,2,1,'BT-2024-001','2025-03-15','IN_STOCK'),(3,3,2,'UREA-2025-001','2027-12-31','IN_STOCK'),(4,4,2,'DAP-2025-001','2027-12-31','IN_STOCK'),(5,5,1,'WEED-2024-001','2025-02-01','EXPIRED'),(6,6,2,'KALI-2025-001','2027-06-30','IN_STOCK');
/*!40000 ALTER TABLE `supply_lots` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `task_progress_logs`
--

DROP TABLE IF EXISTS `task_progress_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `task_progress_logs` (
  `id` int NOT NULL,
  `task_id` int NOT NULL,
  `employee_user_id` bigint NOT NULL,
  `progress_percent` int NOT NULL,
  `note` text COLLATE utf8mb4_unicode_ci,
  `evidence_url` varchar(1000) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `logged_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_task_progress_task` (`task_id`),
  KEY `idx_task_progress_employee` (`employee_user_id`),
  KEY `idx_task_progress_logged_at` (`logged_at`),
  CONSTRAINT `fk_task_progress_employee` FOREIGN KEY (`employee_user_id`) REFERENCES `users` (`user_id`),
  CONSTRAINT `fk_task_progress_task` FOREIGN KEY (`task_id`) REFERENCES `tasks` (`task_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `task_progress_logs`
--

LOCK TABLES `task_progress_logs` WRITE;
/*!40000 ALTER TABLE `task_progress_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `task_progress_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tasks`
--

DROP TABLE IF EXISTS `tasks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tasks` (
  `task_id` int NOT NULL,
  `user_id` bigint NOT NULL,
  `season_id` int DEFAULT NULL,
  `title` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `planned_date` date DEFAULT NULL,
  `due_date` date DEFAULT NULL,
  `status` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `actual_start_date` date DEFAULT NULL,
  `actual_end_date` date DEFAULT NULL,
  `notes` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`task_id`),
  KEY `fk_tasks_user` (`user_id`),
  KEY `idx_tasks_season` (`season_id`),
  KEY `idx_tasks_status` (`status`),
  CONSTRAINT `fk_tasks_season` FOREIGN KEY (`season_id`) REFERENCES `seasons` (`season_id`),
  CONSTRAINT `fk_tasks_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tasks`
--

LOCK TABLES `tasks` WRITE;
/*!40000 ALTER TABLE `tasks` DISABLE KEYS */;
/*!40000 ALTER TABLE `tasks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_preferences`
--

DROP TABLE IF EXISTS `user_preferences`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_preferences` (
  `id` int NOT NULL,
  `user_id` bigint NOT NULL,
  `currency_code` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `weight_unit` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `locale` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_user_preferences_user` (`user_id`),
  UNIQUE KEY `uk_user_preferences_user_id` (`user_id`),
  CONSTRAINT `fk_user_preferences_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_preferences`
--

LOCK TABLES `user_preferences` WRITE;
/*!40000 ALTER TABLE `user_preferences` DISABLE KEYS */;
INSERT INTO `user_preferences` VALUES (1,2,'VND','KG','vi-VN','2024-06-01 08:00:00','2026-04-24 10:52:46'),(2,5,'VND','KG','vi-VN','2026-03-18 08:00:00','2026-03-18 08:00:00'),(3,6,'USD','KG','en-US','2026-03-18 08:00:00','2026-03-18 08:00:00'),(4,3,'VND','KG','vi-VN','2026-04-01 08:00:00','2026-04-01 08:00:00'),(5,4,'VND','KG','vi-VN','2026-04-01 08:05:00','2026-04-01 08:05:00');
/*!40000 ALTER TABLE `user_preferences` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_roles`
--

DROP TABLE IF EXISTS `user_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_roles` (
  `user_id` bigint NOT NULL,
  `role_id` bigint NOT NULL,
  PRIMARY KEY (`user_id`,`role_id`),
  KEY `fk_user_roles_role` (`role_id`),
  CONSTRAINT `fk_user_roles_role` FOREIGN KEY (`role_id`) REFERENCES `roles` (`role_id`),
  CONSTRAINT `fk_user_roles_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_roles`
--

LOCK TABLES `user_roles` WRITE;
/*!40000 ALTER TABLE `user_roles` DISABLE KEYS */;
INSERT INTO `user_roles` VALUES (1,1),(2,2),(4,2),(3,3),(5,4),(6,4);
/*!40000 ALTER TABLE `user_roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `user_id` bigint NOT NULL AUTO_INCREMENT,
  `user_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `phone` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `full_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `password_hash` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `province_id` int DEFAULT NULL,
  `ward_id` int DEFAULT NULL,
  `joined_date` datetime DEFAULT NULL,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `uk_users_username` (`user_name`),
  UNIQUE KEY `uk_users_email` (`email`),
  KEY `fk_users_ward` (`ward_id`),
  KEY `idx_users_status` (`status`),
  KEY `idx_users_province` (`province_id`),
  CONSTRAINT `fk_users_province` FOREIGN KEY (`province_id`) REFERENCES `provinces` (`id`),
  CONSTRAINT `fk_users_ward` FOREIGN KEY (`ward_id`) REFERENCES `wards` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `varieties`
--

DROP TABLE IF EXISTS `varieties`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `varieties` (
  `id` int NOT NULL,
  `crop_id` int NOT NULL,
  `name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`),
  KEY `fk_varieties_crop` (`crop_id`),
  CONSTRAINT `fk_varieties_crop` FOREIGN KEY (`crop_id`) REFERENCES `crops` (`crop_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `varieties`
--

LOCK TABLES `varieties` WRITE;
/*!40000 ALTER TABLE `varieties` DISABLE KEYS */;
INSERT INTO `varieties` VALUES (1,1,'Đài Thơm 8','Giống lúa nước thơm đặc sản, đạt giải gạo ngon nhất thế giới'),(2,1,'OM5451','Giống lúa nước năng suất cao'),(3,2,'Đậu nành DT84','Giống đậu nành phổ thông, thích hợp vụ xuân hè'),(4,2,'Đậu nành AGS398','Giống đậu nành năng suất cao, hạt to đồng đều'),(5,3,'Lạc L14','Giống trồng từ hạt'),(6,4,'Đậu đen xanh lòng','Giống đậu đen hạt chắc, chất lượng ổn định'),(7,5,'Ngô lai NK7328','Giống ngô lai cho năng suất cao, chống chịu tốt');
/*!40000 ALTER TABLE `varieties` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `vw_admin_inventory_lot_expiry_base`
--

DROP TABLE IF EXISTS `vw_admin_inventory_lot_expiry_base`;
/*!50001 DROP VIEW IF EXISTS `vw_admin_inventory_lot_expiry_base`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_admin_inventory_lot_expiry_base` AS SELECT 
 1 AS `farm_id`,
 1 AS `farm_name`,
 1 AS `supply_lot_id`,
 1 AS `expiry_date`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vw_admin_inventory_lot_farm`
--

DROP TABLE IF EXISTS `vw_admin_inventory_lot_farm`;
/*!50001 DROP VIEW IF EXISTS `vw_admin_inventory_lot_farm`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_admin_inventory_lot_farm` AS SELECT 
 1 AS `supply_lot_id`,
 1 AS `farm_id`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vw_admin_season_risk`
--

DROP TABLE IF EXISTS `vw_admin_season_risk`;
/*!50001 DROP VIEW IF EXISTS `vw_admin_season_risk`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_admin_season_risk` AS SELECT 
 1 AS `season_id`,
 1 AS `season_name`,
 1 AS `season_status`,
 1 AS `plot_id`,
 1 AS `plot_name`,
 1 AS `farm_id`,
 1 AS `farm_name`,
 1 AS `incident_count`,
 1 AS `overdue_task_count`,
 1 AS `risk_score`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `wards`
--

DROP TABLE IF EXISTS `wards`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `wards` (
  `id` int NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `slug` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `type` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name_with_type` varchar(512) COLLATE utf8mb4_unicode_ci NOT NULL,
  `province_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_wards_province` (`province_id`),
  CONSTRAINT `fk_wards_province` FOREIGN KEY (`province_id`) REFERENCES `provinces` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `wards`
--

LOCK TABLES `wards` WRITE;
/*!40000 ALTER TABLE `wards` DISABLE KEYS */;
INSERT INTO `wards` VALUES (25112,'Mỹ An','my-an','phuong','Phường Mỹ An',24),(30001,'Xuân Trường','xuan-truong','xa','Xã Xuân Trường',30);
/*!40000 ALTER TABLE `wards` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `warehouses`
--

DROP TABLE IF EXISTS `warehouses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `warehouses` (
  `id` int NOT NULL,
  `farm_id` int NOT NULL,
  `name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `type` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `province_id` int DEFAULT NULL,
  `ward_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_warehouses_farm` (`farm_id`),
  KEY `fk_warehouses_province` (`province_id`),
  KEY `fk_warehouses_ward` (`ward_id`),
  CONSTRAINT `fk_warehouses_farm` FOREIGN KEY (`farm_id`) REFERENCES `farms` (`farm_id`),
  CONSTRAINT `fk_warehouses_province` FOREIGN KEY (`province_id`) REFERENCES `provinces` (`id`),
  CONSTRAINT `fk_warehouses_ward` FOREIGN KEY (`ward_id`) REFERENCES `wards` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `warehouses`
--

LOCK TABLES `warehouses` WRITE;
/*!40000 ALTER TABLE `warehouses` DISABLE KEYS */;
INSERT INTO `warehouses` VALUES (1,1,'Kho vật tư Phú Điền','INPUT',24,25112),(2,1,'Kho nông sản Phú Điền','OUTPUT',24,25112),(3,2,'Kho An Phát','INPUT',24,25112),(4,4,'Kho Cao Nguyên Xanh','OUTPUT',30,30001);
/*!40000 ALTER TABLE `warehouses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'quanlymuavu'
--

--
-- Dumping routines for database 'quanlymuavu'
--

--
-- Final view structure for view `vw_admin_inventory_lot_expiry_base`
--

/*!50001 DROP VIEW IF EXISTS `vw_admin_inventory_lot_expiry_base`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`springuser`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_admin_inventory_lot_expiry_base` AS select `f`.`farm_id` AS `farm_id`,`f`.`farm_name` AS `farm_name`,`sl`.`id` AS `supply_lot_id`,`sl`.`expiry_date` AS `expiry_date` from ((`supply_lots` `sl` join `vw_admin_inventory_lot_farm` `lot_farm` on((`lot_farm`.`supply_lot_id` = `sl`.`id`))) join `farms` `f` on((`f`.`farm_id` = `lot_farm`.`farm_id`))) where (`sl`.`expiry_date` is not null) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vw_admin_inventory_lot_farm`
--

/*!50001 DROP VIEW IF EXISTS `vw_admin_inventory_lot_farm`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`springuser`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_admin_inventory_lot_farm` AS select distinct `sm`.`supply_lot_id` AS `supply_lot_id`,`w`.`farm_id` AS `farm_id` from (`stock_movements` `sm` join `warehouses` `w` on((`w`.`id` = `sm`.`warehouse_id`))) where ((`sm`.`supply_lot_id` is not null) and (`w`.`farm_id` is not null)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vw_admin_season_risk`
--

/*!50001 DROP VIEW IF EXISTS `vw_admin_season_risk`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`springuser`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_admin_season_risk` AS select `s`.`season_id` AS `season_id`,`s`.`season_name` AS `season_name`,`s`.`status` AS `season_status`,`p`.`plot_id` AS `plot_id`,`p`.`plot_name` AS `plot_name`,`f`.`farm_id` AS `farm_id`,`f`.`farm_name` AS `farm_name`,coalesce(`incident_agg`.`incident_count`,0) AS `incident_count`,coalesce(`task_agg`.`overdue_task_count`,0) AS `overdue_task_count`,(coalesce(`incident_agg`.`incident_count`,0) + coalesce(`task_agg`.`overdue_task_count`,0)) AS `risk_score` from ((((`seasons` `s` join `plots` `p` on((`p`.`plot_id` = `s`.`plot_id`))) join `farms` `f` on((`f`.`farm_id` = `p`.`farm_id`))) left join (select `i`.`season_id` AS `season_id`,count(distinct `i`.`id`) AS `incident_count` from `incidents` `i` group by `i`.`season_id`) `incident_agg` on((`incident_agg`.`season_id` = `s`.`season_id`))) left join (select `t`.`season_id` AS `season_id`,count(distinct `t`.`task_id`) AS `overdue_task_count` from `tasks` `t` where (`t`.`status` = 'OVERDUE') group by `t`.`season_id`) `task_agg` on((`task_agg`.`season_id` = `s`.`season_id`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-26 21:48:25
